In [4]:
import pandas as pd
import pyarrow.dataset as pqds
from pyarrow import fs
import pyarrow as pa
import math
import os

In [7]:
os.getcwd()

'/workspaces/algo_interactive_analysis/notebooks'

In [9]:
data_path = "data/training/kraken/ETHUSD/20230504"
# Read parquet file from data_path as pyarrown dateset
dataset: pqds.dataset = pqds.dataset(
            data_path,
            format="parquet"
        )

dt: pa.table = dataset.to_table()
df: pd.DataFrame = dt.to_pandas()
#Make column timestamp as pandas datetime index
#df.set_index("timestamp", inplace=True)
# #convert timestamp ms to datetime
# df.index = pd.to_datetime(df.index, unit="ms")

In [10]:
df

                        open     high      low    close       volume
2021-06-25 00:00:00  1988.19  2011.87  1988.18  2001.08   582.996525
2021-06-25 00:15:00  2003.75  2014.99  1998.80  2008.94   254.242506
2021-06-25 00:30:00  2008.94  2011.37  2000.94  2003.37    87.047154
2021-06-25 00:45:00  2002.19  2002.19  1984.92  1984.92   123.509427
2021-06-25 01:00:00  1985.05  1985.05  1968.67  1969.43   257.865194
...                      ...      ...      ...      ...          ...
2021-01-21 23:00:00  1133.99  1157.50  1124.92  1126.27  6596.870604
2021-01-21 23:15:00  1124.93  1148.17  1124.39  1134.00  2408.911782
2021-01-21 23:30:00  1134.00  1150.00  1132.91  1142.03  2633.187131
2021-01-21 23:45:00  1141.79  1143.36  1108.06  1111.76  4210.655495
2021-01-22 00:00:00  1111.59  1116.62  1109.80  1110.78   507.002466

[53749 rows x 5 columns]